
.header {
  display: flex;
  top: 0;
  width: 100%;
  margin-bottom: 16px;
  padding: 16px;
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: white;
}  

.title {
  padding: 16px;
  vertical-align: middle;
  color: var(--pretty);
  text-align: center;
  margin: 0; 
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 4px; 
  transition: color 0.3s ease, text-shadow 0.3s ease;
  letter-spacing: 0.25em; /* Adds space between letters. Adjust value as needed. */
  font-family: "Comfortaa", sans-serif;
  align-middle: center;
}

.title:hover {
  color: var(--blue); 
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.chatbox {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 16px;
  border-radius: 24px;
  justify-content: center;
  height:  156px;
  display: flex;
  background-color: var(--grey);
  position: relative;
}

.chatbox p {
  margin: 16px;
  font-family: "Lucida Console", "Courier New", monospace;
}

.inputfield {
    border: none;
    outline-color: white;
    border-radius: 25px;
    background-color: white;
    padding: 20px; 
    width: 860px;
    height: 15px;    
    justify-content: center;
}

.inputbox {
  position: absolute;
  bottom: 0;
  padding: 16px;
}


.chatbox button:hover {
  background-color: var(--pretty);
}

.chatbox button {
  background-color: white;
  border-radius: 25px;
  margin: 8px;
}


.lgin, .sgnup, .question {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px 20px; 
  border-radius: 25px; 
  background-color: var(--grey);
  cursor: pointer;
  font-family: "Lucida Console", "Courier New", monospace; 
}

.lgin:hover, .sgnup:hover, .question:hover {
  background-color: var(--pretty);
}

.headermenu {
  position: absolute;
  padding-right: 32px;
  right: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  list-style: none;
}

.headermenu li {
  line-height: 60px;
}

.spinner-container {
  padding-top: 20px; /* Adjust this value as needed */
  text-align: center; /* Center the spinner horizontally */
}

.spinner {
  position: relative;
  background-color: purple;
  width: 100px; /* changed this */
  height: 100px;
  border-radius: 50%;
  margin: auto;
  background: conic-gradient(#0A1128, #001F54, #D9BBF9, #4f0147);
  animation: spin 1.4s linear infinite;
  box-shadow: 0px 0px 150px -75px black;
  border: 2px solid white;
}

.spinner::before {
  content: "";
  background-color: white;
  position: absolute;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: inset 0px 0px 110px -70px black;
  border: 2px solid white;
}

.loadingText {
  margin-top: 150px; 
  font-size: 18px; 
  color: #333; 
  text-align: center;
}

.loadingAnimation {
  display: inline-block;
  background-image: url('../resources/animal.png'); 
  z-index: 50;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px; /* Width of your icon */
  height: 50px; /* Height of your icon */
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
} 

.description {
  margin: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description p {
  white-space: nowrap;
  overflow: hidden;
  max-width: 0;
  animation: typing 3.1s steps(40, end) forwards;
  color: #006D77;
  font-size: 1em;
  margin: 0;
}

/* Typing keyframes */
@keyframes typing {
  from { 
    max-width: 0;
  }
  to { 
    max-width: 100%;
    border-right: none; 
  }
}


