:root {
  --bright-blue: #56CBF9;
  --grey: #ebebeb;
  --dark-grey: #ebebeb:
  --dark-blue: #001F54;
  --blue: #0A9396;
  --purple: #D9BBF9;
  --black: #0A1128;
  --darkish-blue: #034078;
  --pretty: #006D77;
  --max-width: 1100px;
  --border-radius: 12px;
}


p {
  color: var(--darkish-blue);
  text-indent: 30px;
  font-size: 2rem;
  font-family: "Lucida Console", "Courier New", monospace;
}

body {
  background-image: url('coloring.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 100vh; 
  width: 100vw; 
  overflow: hidden;
}

input {
  outline-color: white;
  border-radius: 25px;
  border: 2px;
  background-color: var(--pretty);
  padding: 20px; 
  width: 700px;
  height: 15px;    
  justify-content: center;
}





