.main {

}

.header {
  z-index: 100;
  display: flex;
  top: 0;
  width: 100%;
  overflow: hidden;
  padding: 16px;
  font-size: 20px;
  font-family: "Lucida Console", "Courier New", monospace;
  color: var(--dark-blue);
  background-color: var(--light-blue);
}

.title {
  text-align: center; 
}