.main {

}

.header {
  display: flex;
  top: 0;
  width: 100%;
  overflow: hidden;
  padding: 16px;
  font-size: 20px;
  font-family: "Lucida Console", "Courier New", monospace;
  color: var(--bright-blue);
  background-color: var(--black);
}

.headertext {
  text-align: center; 
}