
.header {
  margin-left: 24px;
  display: flex;
  top: 0;
  width: 100%;
  padding: 16px;
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: var(--light-blue);
}  

.title {
  display: flex; 
  font-size: 20px;
  color: var(--pretty);
  text-align: center;
  margin: 0; 
  font-size: 5rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px; 
  transition: color 0.3s ease, text-shadow 0.3s ease;
  letter-spacing: 0.35em; /* Adds space between letters. Adjust value as needed. */
  font-family: "Comfortaa", sans-serif;
}

.title:hover {
  color: var(--blue); 
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.chatbox {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 24px;
  border-radius: 24px;
  justify-content: center;
  height: 500px;
  display: flex;
  background-color: var(--grey);
  position: relative;
}

.inputbox {
  position: absolute;
  bottom: 0;
  margin: 16px;
  width: 90%;
}

.lgin, .sgnup, .question {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 10px; 
  padding: 10px 20px; 
  border-radius: 25px; 
  border: none;
  background-color: var(--grey);
  cursor: pointer;
  font-family: "Lucida Console", "Courier New", monospace; 
}

.lgin:hover, .sgnup:hover, .question:hover {
  background-color: var(--pretty);
}

.headermenu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  list-style: none;
  margin-right: 84px;
}

.headermenu li {
  line-height: 72px;
}






